* {
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}

.field_value_info_buttons {
  display: none;
}

.field_value_info_container:hover .field_value_info_buttons {
  display: block;
}

/* layout */
.container {
  margin-top: 10rem;
  background-color: #5b5751;
  font-size: 1.2rem;
}
/* .row {
  margin-bottom: 20px;
} */
.col {
  padding: 10px 20px;
  border: 0.5px rgb(255, 255, 255) solid;
}

/* title */
.table__path {
  font-size: 1.5rem;
  padding: 1rem;
}

.database__add {
  margin-bottom: 10px;
}

.database__collection,
.database__document {
  padding: 8px;
  cursor: pointer;
}

.database__table__item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #fffcf2; */
}

/* db button */
.database__delete__btn {
  background-color: #ccc5b9;
  border: #ccc5b9;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 0 0 5px;
}
.database__delete__btn:hover {
  background-color: #403d39;
  border: #ccc5b9;
}
.database__edit__btn {
  background-color: #eb5e28;
  border: #eb5e28;
  color: white;
  border: none;
  margin: 0 0 0 5px;
  cursor: pointer;
}
.database__edit__btn:hover {
  background-color: #ff6f00;
  border: #eb5e28;
}

.database__add__title {
  padding: 8px;
}
.database__submit__btn {
  background-color: #eb5e28;
  border: #eb5e28;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

/* collection */
.database__collection,
.database__document {
  width: 70%;
}
.db__collection__selected {
  background-color: #fffcf2;
}

/* add area */
.database__add__group {
  padding: 10px 0 0 0;
  width: 40rem;
  height: 10rem;
}
.database__add__input {
  background-color: #fffcf2;
  width: 70%;
  padding: 5px;
}
.database__submit__btn {
  background-color: #eb5e28;
  border: #eb5e28;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

/* field column */
.database__field {
  border: 2px white solid;
  width: 100%;
  cursor: pointer;
}
.database__field__key {
  display: flex;
  align-items: center;
  height: 36px;
}
.database__field__name {
  padding: 8px;
}
.database__field__type {
  margin-left: auto;
}

/* field value info */
.field_value_info_container {
  display: flex;
  align-items: center;
  height: 36px;
}
.field__value__info__name {
  text-indent: 1.5em;
}
.field_value_info_buttons {
  margin-left: auto;
}

/* FieldInput.css */
.database__field__add__group {
  width: 50rem;
}
.field__value__btn__group {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 0;
}
.value__add__btn {
  margin-left: 1rem;
}
.form-label {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.field__value__item {
  margin: 0.5rem 0;
}

/* 
.form-select {
  width: 100%;
}

.form-control {
  width: 100%;
  margin-top: 5px;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  margin-right: 5px;
} */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 6;
  display: none;
}
