.query_container {
  margin-top: 10rem;
  font-size: 1.2rem;
  background-color: rgb(116, 62, 62);
  color: white;
  max-width: 1500px;
}
.table {
  margin-bottom: 0px;
}

.query_col {
  display: flex;
  align-items: center;
}
.query_row {
  height: 3.5rem;
  /* margin: 1rem 0; */
}
.statement {
  justify-content: center;
}
.query_btn_group {
  display: flex;
  justify-content: end;
}
.query_btn {
  margin-left: 1rem;
}

/* table */
.query_table_head {
  font-size: 1.3rem;
  text-align: center;
}
.query_field_value_data {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.query_no_data {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
