.header__container {
  background-color: #212529;
  height: 4rem;
  margin-bottom: 0;
  border-bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  display: flex;
}
.header_link {
  height: 4rem;
  display: flex;
}
.header_name {
  font-size: 2rem;
  font-weight: bold;
  height: 4rem;
  width: 300px;
  margin-top: 0;
  line-height: 4rem;
  color: #e9ecef;
  display: flex;
  justify-content: center;
}
.header_logo {
  margin: 0.5rem 0.9rem;
}
