/* .sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
} */

/* .sidebar__logo {
  width: 100px;
  height: 100px;
  background-color: #ccc; /* Placeholder color 
  margin-bottom: 20px;
} */

/* .sidebar__title {
  font-size: 20px;
  margin-bottom: 10px;
} */

/* .sidebar__projects {
  width: 100%;
} */

/* .sidebar__project-list {
  list-style-type: none;
  padding: 0;
}

.sidebar__project {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar__project:hover {
  background-color: #555;
} */
